@media (min-width: 768px){
    body{
        background-color: #f6aeb4;
    }
    
    .projects{
        width: 31.6vw;
        margin-bottom: 1vw;
    }
    
    input[type=checkbox]{
        float: right;
    }
    
    h1{
        margin: 0;
        padding: 0;
        text-align: center;
        color: #145b87;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .grid-container{
        border-top: 2px solid #159595;
        margin: 5% 10% 0 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20%;
        padding-top: .5em;
    }
    
    .table1{
        background-color: #f2cd88;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        text-overflow: ellipsis;
        height: 30vw;
    }
    
    .table2{
        background-color: #f2cd88;
        height: 30vw;
    }
    
    li{
        padding: .5em;
        border-bottom: solid 1px #12307f;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
}


@media (max-width: 767px) {
    body{
        background-color: #f6aeb4;
        margin: 0;
    }
    
    #input{
        width: 97.8%;
        margin-bottom: 1vw;
    }
    
    input[type=checkbox]{
        float: right;
    }
    
    .grid-container{
        border-top: 2px solid #159595;
        margin: 5% 10% 0 10%;
        padding-top: .5em;
    }

    .divRand{
        margin-top: 4%;
        border-top: 2px solid #159595;
        padding-top: .5em;
    }

    h1{
        margin: 0;
        padding: 0;
        text-align: center;
        color: #145b87;
        font-size: 40px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .table1{
        background-color: #f2cd88;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
        text-overflow: ellipsis;
        height: 85vw;
    }
    
    button{
        width: 100%;
        margin-bottom: 1vw;
    }

    .table2{
        background-color: #f2cd88;
        height: 30vw;
    }
    
    li{
        padding: .5em;
        border-bottom: solid 1px #12307f;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
}

